@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    overflow-x: hidden;
    margin: 0;
}

#mainer1{
    position: absolute;
    top: 0;
}
#mainer2{
    position: absolute;
    top: 100vh;
}
#mainer3{
    position: absolute;
    top: 200vh;
}
#mainer4{
    position: absolute;
    top: 300vh;
}

.lefthalf{
    width: 50vw;
    min-height: 400vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: end;
    background-color: rgb(80,80,80,0.5);
}

.textt{
    position: relative;
    font-family: 'Playfair Display', serif;
}
.texttname{
    top: 50vh;
    font-size: 6rem;
    letter-spacing: -3px;
}
.texttheadline{
    top: 50vh;
    font-size: 2rem;
}

.doing{
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    position: relative;
    top: 100vh;
}




.fadiner{
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    transition: background-color 3s linear;
}
.gotransp{
    background-color: rgba(0, 0, 0, 0);
}