@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    overflow-x: hidden;
    margin: 0;
}

#mainer{
    z-index: -10;
    position: fixed;
    top: 0;
}

.lefthalf{
    width: 50vw;
    min-height: 220vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: end;
}

.abouter{
    position: relative;
    top: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-transform: lowercase;
}

.rightbar{
    width: 75px;
    height: 100vh;
    border-left: 1px white solid;
    position: fixed;
    right: 0;
}
.rytem{
    border-bottom: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}
.rytemtxt{
    transform: rotate(90deg);
}

.textt{
    position: relative;
    font-family: 'Playfair Display', serif;
}
.texttname{
    top: 50vh;
    font-size: 5rem;
    letter-spacing: -3px;
}
.texttheadline{
    top: 50vh;
    font-size: 1.75rem;
}

.fadouter{
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 0px;
    height: 0px;
    transition: background-color 2s linear;
}

.goopaque{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}

.fadiner{
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    transition: background-color 3s linear;
}

.gotransp{
    background-color: rgba(0, 0, 0, 0);
}